_BASE_: "../Base-DiffusionDet.yaml"
MODEL:
  META_ARCHITECTURE: 'FSDiffusionDet'
  WEIGHTS: "detectron2://ImageNetPretrained/torchvision/R-50.pkl"
  RESNETS:
    DEPTH: 50
    STRIDE_IN_1X1: False
  DiffusionDet:
    NUM_PROPOSALS: 250
    NUM_CLASSES: 80
DATASETS:
  TRAIN: ("COCO_train2017",)
  VAL: ("COCO_val2017",)
  TEST:  ("COCO_val2017",)
SOLVER:
  STEPS: (4000,)
  MAX_ITER: 10
  BASE_LR: 5e-4
  IMS_PER_BATCH: 16
  # MAX_ITER: 20
  CHECKPOINT_PERIOD: 10000
INPUT:
  CROP:
    ENABLED: True
  FORMAT: "RGB"
  MIN_SIZE_TRAIN: (512,)
  MAX_SIZE_TRAIN: 512
  MIN_SIZE_TEST: 512
  MAX_SIZE_TEST: 512
# TRAIN_MODE: 'support_attention'
TRAIN_MODE: 'simplefs'
FINETUNE:
  MAX_ITER: 80000
TEST:
  EVAL_PERIOD: 500
FEWSHOT:
  ATTENTION:
    EXTRACT_EVERY: 10
    MAX_NUM_CLASSES: 3
  K_SHOT: 10
  N_WAYS_TRAIN: 20
  N_WAYS_TEST: 20
  BASE_SUPPORT: 'rng'


